#container {
  height: 200px;
  width: 240px;
  background-color: #8c8c8c;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
}

#item1 {
  background-color: #8cffa0;
  text-align: center;
  padding: 10px;
  // margin: 0 auto;
}
